/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#fbf6f6;
    color:#000;
    overflow-x:hidden;
}

/* Navbar */
.navbar-brand img{
    border-radius:50%;
}

/* Hero Image */
.hero-img{
    width:100%;
    height:100vh;
    object-fit:cover;
    display:block;
}

/* Hero Section */
.hero{
    position:relative;
}

.banner-text{
    position:absolute;
    top:50%;
    left:10%;
    transform:translateY(-50%);
    color:white;
    max-width:500px;
}

.banner-text h1{
    font-size:60px;
    font-weight:bold;
    margin:0;
}

.banner-text h2{
    font-size:80px;
    font-family:cursive;
    color:#000;
    margin:0;
}

.banner-text p{
    font-size:18px;
    margin-top:15px;
    width:100%;
}

/* Gallery Images */
.img-thumbnail{
    width:100%;
    height:250px;
    object-fit:cover;
    margin:0;
}

/* Cards */
.card{
    margin-top:20px;
    border-radius:15px;
    width: 90%; 
}

/* Contact Form */
.contact-box{
    padding:10px;
    /* Default styles (Mobile) */
}


/* Carousel Images */
.carousel-item img{
    height:500px;
    object-fit:cover;
}

/* Buttons */
.btn{
    border-radius:8px;
}

/* Headings */
h3{
    text-align:center;
    margin-top:15px;
}

/* Tablet View */
@media (max-width:992px){

    .banner-text h1{
        font-size:45px;
    }

    .banner-text h2{
        font-size:55px;
    }

    .carousel-item img{
        height:350px;
    }
}

/* Mobile View */
@media (max-width:768px){

    .hero-img{
        height:60vh;
    }

    .banner-text{
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        text-align:center;
        width:90%;
    }

    .banner-text h1{
        font-size:28px;
    }

    .banner-text h2{
        font-size:36px;
    }

    .banner-text p{
        font-size:14px;
        width:100%;
    }

    .d-flex{
        flex-direction:column;
    }

    .btn{
        width:100%;
        margin-bottom:10px;
    }

    .img-thumbnail{
        height:220px;
    }

    .carousel-item img{
        height:250px;
    }

    .card{
        margin:15px;
    }
}

/* Small Mobile */
@media (max-width:480px){

    .banner-text h1{
        font-size:22px;
    }

    .banner-text h2{
        font-size:28px;
    }

    .banner-text p{
        font-size:13px;
    }

    .img-thumbnail{
        height:180px;
    }

    .carousel-item img{
        height:200px;
    }
}
